<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Card</title>
</head>
<body>
<h1>Card</h1>
<table th:each="product: ${card.getProducts()}">
    <h2 th:text="${product.getProductType()}"></h2>
    <tbody>
    <tr th:each="supplement : ${product.getSupplements()}"></td>
        <td th:text="${supplement.getName()}"></td>
        <td><img th:src="${supplement.getImage}" style="width:50px;height:50px;"></td>
        <td th:text="${supplement.getWeight()}"></td>
        <td>
            <form method="post" th:action="@{'/supplement/delete/'+ ${product.getId()} +'/'+ ${supplement.getId()}}">
                <input type="submit" value="Remove"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<h4 th:text="'Summary: '+ ${card.getCost()}"></h4>
</body>
</html>